<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Avalonia" version="11.0.10" targetFramework="net48" />
  <package id="Avalonia.BuildServices" version="0.0.29" targetFramework="net48" />
  <package id="Avalonia.Remote.Protocol" version="11.0.10" targetFramework="net48" />
  <package id="iTextSharp" version="5.5.11" targetFramework="net452" />
  <package id="MicroCom.Runtime" version="0.11.0" targetFramework="net48" />
  <package id="Microsoft.Bcl.AsyncInterfaces" version="6.0.0" targetFramework="net48" />
  <package id="NAudio" version="1.8.0" targetFramework="net452" />
  <package id="SDL2-CS.dll" version="2.0.0.0" targetFramework="net452" />
  <package id="Sharp_Pcap" version="4.2.0" targetFramework="net452" />
  <package id="System.Buffers" version="4.4.0" targetFramework="net48" />
  <package id="System.ComponentModel.Annotations" version="4.5.0" targetFramework="net48" />
  <package id="System.Memory" version="4.5.3" targetFramework="net48" />
  <package id="System.Numerics.Vectors" version="4.4.0" targetFramework="net48" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.6.0" targetFramework="net48" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.4" targetFramework="net48" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net48" />
</packages>